In [46]:
import os
import pandas as pd
import numpy as np
import h2o
import boto3, json
import time
import io
import re
from h2o.automl import H2OAutoML
from datetime import datetime as dt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

from IPython.display import display
pd.options.display.max_columns = None

import warnings
warnings.filterwarnings('ignore')

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)
  Starting server from C:\ProgramData\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Abhinav\AppData\Local\Temp\tmpcnbe8b53
  JVM stdout: C:\Users\Abhinav\AppData\Local\Temp\tmpcnbe8b53\h2o_Abhinav_started_from_python.out
  JVM stderr: C:\Users\Abhinav\AppData\Local\Temp\tmpcnbe8b53\h2o_Abhinav_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    6 days
H2O cluster name:           H2O_from_python_Abhinav_v1y2wp
H2O cluster total nodes:    1
H2O cluster free memory:    3.528 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None, 'no': '192.168.99.100'}
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.3 final
--------------------------  ---------------------------------------------------------

In [54]:
params = {
    'region': 'us-east-1',
    'database': 'airbnb-listings',
    'bucket': 'airbnb-final-project',
    'path': 'Training/Result',
    'query': 'SELECT * FROM "airbnb-listings"."airbnb_processesedtest"'
}

def athena_query(client, params):
    
    response = client.start_query_execution(
        QueryString=params["query"],
        QueryExecutionContext={
            'Database': params['database']
        },
        ResultConfiguration={
            'OutputLocation': 's3://' + params['bucket'] + '/' + params['path']
        }
    )
    return response

def athena_to_s3(session, params, max_execution = 5):
    client = session.client('athena', region_name=params["region"])
    execution = athena_query(client, params)
    execution_id = execution['QueryExecutionId']
    state = 'RUNNING'

    while (max_execution > 0 and state in ['RUNNING']):
        max_execution = max_execution - 1
        response = client.get_query_execution(QueryExecutionId = execution_id)
        time.sleep(5)

        if 'QueryExecution' in response and \
                'Status' in response['QueryExecution'] and \
                'State' in response['QueryExecution']['Status']:
            state = response['QueryExecution']['Status']['State']
            if state == 'FAILED':
                return False
            elif state == 'SUCCEEDED':
                s3_path = response['QueryExecution']['ResultConfiguration']['OutputLocation']
                filename = re.findall('.*\/(.*)', s3_path)[0]
                return filename
        time.sleep(1)
    
    return False

def s3_to_pandas(session, params, s3_filename):    
    s3client = session.client('s3')
    obj = s3client.get_object(Bucket=params['bucket'],
                              Key=params['path'] + '/' + s3_filename)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()))
    return df

# Deletes all files in your path so use carefully!
def cleanup(session, params):
    s3 = session.resource('s3')
    my_bucket = s3.Bucket(params['bucket'])
    for item in my_bucket.objects.filter(Prefix=params['path']):
        item.delete()

session = boto3.Session(aws_access_key_id='AKIA4LWYDIHLX7JHKD5E',
                        aws_secret_access_key='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')

s3_filename = athena_to_s3(session, params)

df = s3_to_pandas(session, params, s3_filename)

df.head()

,id,host_id,host_name,host_since,host_response_time,host_response_rate,host_neighbourhood,host_total_listings_count,host_identity_verified,neighbourhood_group_cleansed,city,state,zipcode,country_code,country,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,first_review,last_review,review_scores_value,cancellation_policy,last_scraped
0,22618396,107978473,Trishia,2016-12-21,NaN,NaN,Greenpoint,1.0,f,Brooklyn,Brooklyn,NY,NaN,US,United States,40.73375,-73.95570,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,60.0,NaN,NaN,100.0,25.0,1,25.0,3,2018-06-10 00:00:00.000,2018-06-19 00:00:00.000,10.0,flexible,2019-12-04 00%3A00%3A00
1,22627376,1286786,Leslie,2011-10-13,NaN,NaN,NaN,1.0,t,Brooklyn,Brooklyn,NY,NaN,US,United States,40.72949,-73.95802,Apartment,Private room,2,1.0,2.0,1.0,Real Bed,NaN,45.0,NaN,NaN,NaN,NaN,1,0.0,1,2018-01-21 00:00:00.000,2018-01-21 00:00:00.000,10.0,flexible,2019-12-04 00%3A00%3A00
2,22627980,3680044,Roselie,2012-09-26,NaN,NaN,Upper West Side,1.0,f,Manhattan,New York,NY,NaN,US,United States,40.79787,-73.96880,Apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,NaN,99.0,NaN,NaN,0.0,25.0,1,10.0,6,2018-01-15 00:00:00.000,2018-04-29 00:00:00.000,10.0,flexible,2019-12-04 00%3A00%3A00
3,22629010,165907758,Helen,2018-01-04,NaN,NaN,Midtown East,2.0,f,Manhattan,New York,NY,NaN,US,United States,40.75301,-73.97277,Other,Entire home/apt,4,2.0,2.0,2.0,Real Bed,NaN,200.0,NaN,NaN,NaN,NaN,1,0.0,0,NaN,NaN,NaN,flexible,2019-12-04 00%3A00%3A00
4,22631617,42682752,Katharine,2015-08-27,NaN,NaN,Boerum Hill,3.0,t,Brooklyn,Brooklyn,NY,NaN,US,United States,40.68870,-73.99168,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,NaN,60.0,NaN,NaN,NaN,NaN,1,0.0,2,2018-01-12 00:00:00.000,2018-01-15 00:00:00.000,10.0,flexible,2019-12-04 00%3A00%3A00

In [4]:
str_cols = list(df.select_dtypes(['object']).columns)
num_cols = list(df.select_dtypes(['int64','float64']).columns)

cols_to_remove = ['id','host_id','host_name','host_since',
                  'host_response_time','host_neighbourhood','host_identity_verified', 'city', 
                  'state', 'country_code', 'country', 'first_review', 'last_review', 'last_scraped', 'zipcode', 'latitude', 'longitude']

cleaned_df = df.drop(cols_to_remove, axis=1)

cleaned_df['square_feet'] = cleaned_df['square_feet'].fillna(cleaned_df['square_feet'].mean())
cleaned_df['monthly_price'] = cleaned_df['monthly_price'].fillna(cleaned_df['monthly_price'].mean())
cleaned_df['weekly_price'] = cleaned_df['weekly_price'].fillna(cleaned_df['weekly_price'].mean())

cleaned_df['host_response_rate'] = cleaned_df['host_response_rate'].fillna(float(int(df['host_response_rate'].mean())))
cleaned_df['security_deposit'] = cleaned_df['security_deposit'].fillna(float(int(df['security_deposit'].mean())))
cleaned_df['review_scores_value'] = cleaned_df['review_scores_value'].fillna(float(int(df['review_scores_value'].mean())))
cleaned_df['cleaning_fee'] = cleaned_df['cleaning_fee'].fillna(float(int(df['cleaning_fee'].mean())))
cleaned_df['host_total_listings_count'] = cleaned_df['host_total_listings_count'].fillna(float(int(df['host_total_listings_count'].mean())))

cleaned_df['beds'] = cleaned_df['beds'].fillna(1.0)
cleaned_df['bedrooms'] = cleaned_df['bedrooms'].fillna(1.0)
cleaned_df['bathrooms'] = cleaned_df['bathrooms'].fillna(1.0)


cleaned_df['neighbourhood_group_cleansed'] = cleaned_df['neighbourhood_group_cleansed'].astype('category', categories = sorted(list(df['neighbourhood_group_cleansed'].unique()))).cat.codes
cleaned_df['property_type'] = cleaned_df['property_type'].astype('category', categories = sorted(list(df['property_type'].unique()))).cat.codes
cleaned_df['room_type'] = cleaned_df['room_type'].astype('category', categories = sorted(list(df['room_type'].unique()))).cat.codes
cleaned_df['bed_type'] = cleaned_df['bed_type'].astype('category', categories = sorted(list(df['bed_type'].unique()))).cat.codes
cleaned_df['cancellation_policy'] = cleaned_df['cancellation_policy'].astype('category', categories = sorted(list(df['cancellation_policy'].unique()))).cat.codes

cleaned_df.head()

,host_response_rate,host_total_listings_count,neighbourhood_group_cleansed,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,review_scores_value,cancellation_policy
0,85.0,6.0,2,1,0,1,1.0,0.0,1.0,4,699.533679,225.0,1995.000000,2932.860252,350.0,95.0,1,0.0,48,9.0,3
1,100.0,1.0,1,19,0,3,1.0,1.0,4.0,4,500.000000,89.0,575.000000,2100.000000,500.0,67.0,1,0.0,295,9.0,1
2,100.0,1.0,1,26,0,4,1.0,1.0,2.0,4,699.533679,299.0,890.337283,2932.860252,300.0,120.0,1,0.0,9,10.0,3
3,100.0,2.0,1,1,2,2,1.0,1.0,0.0,4,699.533679,80.0,500.000000,1800.000000,300.0,50.0,1,20.0,142,9.0,3
4,97.0,2.0,2,1,2,1,0.5,1.0,1.0,4,699.533679,69.0,890.337283,2932.860252,269.0,67.0,1,0.0,311,9.0,3

In [5]:
boruta_top_10_features = ['neighbourhood_group_cleansed','bedrooms',
                          'beds','bathrooms','accommodates','cleaning_fee','property_type', 'room_type',
                          'cancellation_policy','bed_type','guests_included','price']

In [6]:
h2o_df = h2o.H2OFrame(cleaned_df[boruta_top_10_features])
h2o_df.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%

neighbourhood_group_cleansed,bedrooms,beds,bathrooms,accommodates,cleaning_fee,property_type,room_type,cancellation_policy,bed_type,guests_included,price
2,0,1,1,1,95,1,0,3,4,1,225
1,1,4,1,3,67,19,0,1,4,1,89
1,1,2,1,4,120,26,0,3,4,1,299
1,1,0,1,2,50,1,2,3,4,1,80
2,1,1,0.5,1,67,1,2,3,4,1,69
1,1,1,1,4,60,23,2,3,4,1,89
1,1,1,1.5,2,85,1,2,3,4,2,95
1,2,3,1.5,6,165,26,0,3,4,2,250
2,1,2,1,2,67,1,0,3,4,1,195
1,1,0,1.5,2,20,32,2,1,4,1,100

In [7]:
y = 'price'

In [8]:
splits = h2o_df.split_frame(ratios = [0.8], seed = 1)
train = splits[0]
test = splits[1]

In [9]:
aml = H2OAutoML(max_runtime_secs = 60, seed = 1, project_name = "airbnb")
aml.train(y = y, training_frame = train, leaderboard_frame = test)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [10]:
aml.leaderboard.head()

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_BestOfFamily_AutoML_20191212_180451,92958.7,304.891,92958.7,68.8905,nan
StackedEnsemble_AllModels_AutoML_20191212_180451,96803.5,311.133,96803.5,68.7447,nan
DRF_1_AutoML_20191212_180451,97302.1,311.933,97302.1,68.9889,0.48804
GBM_3_AutoML_20191212_180451,97926.8,312.933,97926.8,70.8926,nan
GBM_2_AutoML_20191212_180451,99231.5,315.01,99231.5,70.928,nan
GBM_4_AutoML_20191212_180451,101928,319.261,101928,71.2241,nan
GBM_1_AutoML_20191212_180451,104305,322.962,104305,70.3045,nan
GLM_grid_1_AutoML_20191212_180451_model_1,149671,386.873,149671,82.8698,nan

In [11]:
pred = aml.predict(test)
predictions = test.cbind(pred)[['price','predict']]
predictions

stackedensemble prediction progress: |████████████████████████████████████| 100%

price,predict
299,218.273
100,68.3718
43,75.9853
155,169.801
250,181.879
120,127.063
200,174.728
105,130.681
555,707.916
113,85.8649

In [12]:
best_model = h2o.get_model(aml.leaderboard[0,'model_id'])

In [13]:
h2o.save_model(best_model)

'C:\\Users\\Abhinav\\M.A.S.T.E.R.S M.A.T.E.R.I.A.L\\4. S.E.M.E.S.T.E.R - 4\\P.G.D.P\\Final Project\\StackedEnsemble_BestOfFamily_AutoML_20191212_180451'

In [17]:
m = h2o.load_model('C:\\Users\\Abhinav\\M.A.S.T.E.R.S M.A.T.E.R.I.A.L\\4. S.E.M.E.S.T.E.R - 4\\P.G.D.P\\Final Project\\StackedEnsemble_BestOfFamily_AutoML_20191212_180451')

In [51]:
json.loads(test.head()[0,:].as_data_frame().to_json(orient='records'))

[{'neighbourhood_group_cleansed': 1,
  'bedrooms': 1,
  'beds': 2,
  'bathrooms': 1,
  'accommodates': 4,
  'cleaning_fee': 120,
  'property_type': 26,
  'room_type': 0,
  'cancellation_policy': 3,
  'bed_type': 4,
  'guests_included': 1,
  'price': 299}]

In [44]:
rec = json.loads(test.head()[0,:].as_data_frame().to_json(orient='records'))

In [48]:
h2o.H2OFrame(pd.DataFrame(rec))

Parse progress: |█████████████████████████████████████████████████████████| 100%

accommodates,bathrooms,bed_type,bedrooms,beds,cancellation_policy,cleaning_fee,guests_included,neighbourhood_group_cleansed,price,property_type,room_type
4,1,4,1,2,3,120,1,1,299,26,0

In [19]:
m.predict(test.head()[0,:]).

stackedensemble prediction progress: |████████████████████████████████████| 100%

      predict
0  218.272795

In [28]:
s3 = session.client('s3')
s3.download_file('airbnb-final-project', 'H2O Model/StackedEnsemble_BestOfFamily_AutoML_20191212_180451', 'AutoML_Model')

In [88]:
ptype_dict = {}
count = 0
for i in sorted(list(df['property_type'].unique())):
    ptype_dict[f"['{i}']"] = count
    count += 1

In [90]:
ptype_dict

{"['Aparthotel']": 0,
 "['Apartment']": 1,
 "['Barn']": 2,
 "['Bed and breakfast']": 3,
 "['Boat']": 4,
 "['Boutique hotel']": 5,
 "['Bungalow']": 6,
 "['Bus']": 7,
 "['Cabin']": 8,
 "['Camper/RV']": 9,
 "['Casa particular (Cuba)']": 10,
 "['Castle']": 11,
 "['Cave']": 12,
 "['Condominium']": 13,
 "['Cottage']": 14,
 "['Dome house']": 15,
 "['Dorm']": 16,
 "['Earth house']": 17,
 "['Farm stay']": 18,
 "['Guest suite']": 19,
 "['Guesthouse']": 20,
 "['Hostel']": 21,
 "['Hotel']": 22,
 "['House']": 23,
 "['Houseboat']": 24,
 "['Island']": 25,
 "['Loft']": 26,
 "['Other']": 27,
 "['Resort']": 28,
 "['Serviced apartment']": 29,
 "['Tent']": 30,
 "['Tiny house']": 31,
 "['Townhouse']": 32,
 "['Villa']": 33,
 "['Yurt']": 34}

In [93]:
neigh_dict = {}
count = 0
for i in sorted(list(df['neighbourhood_group_cleansed'].unique())):
    neigh_dict[f"['{i}']"] = count
    count += 1

In [94]:
neigh_dict

{"['Bronx']": 0,
 "['Brooklyn']": 1,
 "['Manhattan']": 2,
 "['Queens']": 3,
 "['Staten Island']": 4}

In [95]:
rtype_dict = {}
count = 0
for i in sorted(list(df['room_type'].unique())):
    rtype_dict[f"['{i}']"] = count
    count += 1
rtype_dict

{"['Entire home/apt']": 0,
 "['Hotel room']": 1,
 "['Private room']": 2,
 "['Shared room']": 3}

In [75]:
rtype_dict

{'Entire home/apt': 0, 'Hotel room': 1, 'Private room': 2, 'Shared room': 3}

In [96]:
btype_dict = {}
count = 0
for i in sorted(list(df['bed_type'].unique())):
    btype_dict[f"['{i}']"] = count
    count += 1
btype_dict

{"['Airbed']": 0,
 "['Couch']": 1,
 "['Futon']": 2,
 "['Pull-out Sofa']": 3,
 "['Real Bed']": 4}

In [97]:
ctype_dict = {}
count = 0
for i in sorted(list(df['cancellation_policy'].unique())):
    ctype_dict[f"['{i}']"] = count
    count += 1
ctype_dict

{"['flexible']": 0,
 "['moderate']": 1,
 "['strict']": 2,
 "['strict_14_with_grace_period']": 3,
 "['super_strict_30']": 4,
 "['super_strict_60']": 5}